/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Variables */
:root {
    --primary-color: #75C4FF; 
    --secondary-color: #FFFFFF; 
    --accent1-color: #738FDB; 
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Nunito', sans-serif;
    --nav-background-color: #232863; 
    --nav-link-color: #2068d3; 
    --nav-hover-link-color: #1d1a41; 
    --nav-hover-background-color: #074E9B; 
}

/*https://coolors.co/palette/012a4a-013a63-01497c-014f86-2a6f97-2c7da0-468faf-61a5c2-89c2d9-a9d6e5*/
/* Estilos Globales */
body {
    max-width: 1250px;
    margin: 0 auto;
    font-family: var(--heading-font);
    background-color: #f3fbff;
}

h1, h2, p {
    color: #fff;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
    color:#343a40
}

h2 {
    color: var(--primary-color);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: black;
    line-height: 1.8;
    text-align: center;
}

footer {
    background-color: #F0A166;
    padding: 20px 0;
    text-align: center;
}

footer a {
    text-decoration: none;
    margin-right: 10px;
    color: #fff;
}

/* Barra Superior */
.top-bar {
    background-color: #F0A166;
    color: white;
    text-align: center;
}

/* Logo y Navegación */
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo img {
    width: 70px;
    height: auto;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation .button {
    margin-left: 10px;
    align-items: center;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    background-color: #B7D7FF;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    
}

.hero img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.container h2, h1 {
    color: #506fa4;
}

/* Botones */
.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #FFE0B7;
    color:black;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.button:hover {
    transform: translateY(-5px);
}

/* Sección de Imágenes */
.section {
    text-align: center;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 75px;
    padding: 20px;
}

.image {
    background: #B7D7FF;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1),
                -5px -5px 15px rgba(255, 255, 255, 0.5);
    width: auto;
    height: 750px;
    
}

.image img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

.image p {
    margin-top: 15px;
    width: 300px;
    height: 350px;
}

button {
    padding: 10px 20px;
    background-color: #FFE0B7;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1),
                -3px -3px 10px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: translateY(2px);
}
