@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary-color: #75C4FF; /* Celeste */
    --secondary-color: #FFFFFF; /* Blanco */
    --accent1-color: #738FDB; /* Azul */
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Nunito', sans-serif;
    --nav-background-color: #232863; /* Color de fondo del menú de navegación */
    --nav-link-color: #2068d3; /* Color de los enlaces del menú de navegación */
    --nav-hover-link-color: #1d1a41; /* Color de los enlaces del menú de navegación al pasar el ratón */
    --nav-hover-background-color: #074E9B; /* Color de fondo del menú de navegación al pasar el ratón */
}
  
  body {
    font-family: var(--paragraph-font); 
    max-width: 960px;
    margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font); 
    color: #074E9B; 
}

header {
    padding: 20px; 
    background-color: #232863; 
}
p {
    padding: 10px;
}
nav {
    background-color: var(--nav-background-color); 
    font-size: 1.2rem;
    display: flex;
}

nav a {
    color: var(--nav-link-color); 
    text-decoration: none; 
    padding: 10px 20px;
    display: block;
}
nav a:link, nav a:visited{
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: #232863; 
    background-color: var(--nav-hover-link-color); 
}


